[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
numpy = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
apache-airflow-providers-celery = "*"
alembic = "*"
apache-airflow-providers-postgres = "*"

[dev-packages]

[requires]
python_version = "3.11"
